bokeh
cartopy
cdsapi
cf_xarray
cf_units
cftime
dask[distributed,dataframe]
dem_stitcher
earthaccess
flox
furo
geopandas
h5netcdf
joblib
jupyter
jupyter-server-proxy
matplotlib
myst-parser
numpy
numpydoc
pandas
pint_xarray
pydantic
pyfiglet
pyarrow
pyogrio
rioxarray
scikit-learn
scipy
seaborn
shapely
sphinx
sphinx-autodoc-typehints
sphinx-copybutton
toml
tqdm
xarray
