bokeh
cartopy
cdsapi
cf_xarray
cf_units
cftime
dask[distributed,dataframe]
dem_stitcher
earthaccess
flox
geopandas
h5netcdf
joblib
jupyter
jupyter-server-proxy
matplotlib
numpy
pandas
pint_xarray
pyarrow
pyogrio
rioxarray
scikit-learn
scipy
seaborn
shapely
toml
tqdm
xarray
