#!/bin/sh
#SBATCH --partition={{ queue }}
#SBATCH --ntasks={{ ntasks }}
#SBATCH --tasks-per-node=40
#SBATCH --time={{ walltime }}
#SBATCH --mail-type=BEGIN
#SBATCH --mail-type=END
#SBATCH --mail-type=FAIL
#SBATCH --output="{{ output_path }}/pism.%j"

module purge
module load intel-compilers/2023.1.0 impi/2021.9.
module list

export container={{ container | default("$HOME/pism-dev.sif") }}
if [ ! -f "${container}" ]; then
    echo "Container ${container} not found." >&2
    exit 1
fi
echo "Using container ${container}"

umask 007

cd "$SLURM_SUBMIT_DIR"


ulimit -l unlimited
ulimit -s unlimited
ulimit
