#!/bin/sh
#SBATCH --partition={{ queue | default("t2small") }}
#SBATCH --ntasks={{ ntasks | default(36) }}
#SBATCH --tasks-per-node={{ tasks | default(40) }}
#SBATCH --time={{ walltime | default("24:00:00") }}
#SBATCH --mail-type=BEGIN
#SBATCH --mail-type=END
#SBATCH --mail-type=FAIL
#SBATCH --output="{{ output_path }}/pism.%j"

umask 007

cd $SLURM_SUBMIT_DIR

ulimit -l unlimited
ulimit -s unlimited
ulimit

conda deactivate
mpirun -np  {{ ntasks | default(36) }} pism {{ run_str }}
