{% if run_init_str %}
mpirun -np  {{ ntasks | default(8) }} pism {{ run_init_str }}
{% endif %}

mpirun -np  {{ ntasks | default(8) }} pism {{ run_str }}

mpirun -np  {{ ntasks | default(8) }} pismi {{ inv_str }}

{{ post_script }} --ntasks  {{ ntasks | default(8) }} {{ post_file }}
