mpirun -np  {{ ntasks | default(8) }} pism {{ run_init_str }}

mpirun -np  {{ ntasks | default(8) }} pismi {{ inv_str }}

{% if run_hist_str %}
mpirun -np  {{ ntasks | default(8) }} pism {{ run_hist_str }}
{% endif %}

{% if run_proj_str %}
mpirun -np  {{ ntasks | default(8) }} pism {{ run_proj_str }}
{% endif %}

{{ ism_checker_str }}

{{ post_scalar_str }}

{{ post_process_str }}
