[run]

exec = "/Users/andy/pism-dev-conda-petsc/bin/pism"
mpi = "mpirun -np"
ntasks = 8
queue = "t2small"
walltime = "12:00:00"

[campaign]

setup = "init"

[climate]

dataset="reanalysis-era5-land-monthly-means"

[grid]

resolution = "200m"
'grid.Lbz' = 0
'grid.Lz' = 2000
'grid.Mbz' = 1
'grid.Mz' = 101
'grid.registration' = "center"

['geometry']

'geometry.front_retreat.use_cfl' = 'yes'
'geometry.part_grid.enabled' = 'yes'
'geometry.remove_icebergs' = 'yes'

['input']

'input.bootstrap' = "yes"
'input.forcing.buffer_size' = 400

[time]

'time.start' = "1981-10-01"
'time.end' =  "2001-01-01"
'time.calendar' =  "standard"
'time.reference_date' = "1980-01-01"
'time_stepping.adaptive_ratio' = 250
'time_stepping.skip.enabled' = "yes"
'time_stepping.skip.max' = 100

[reporting]

'output.format' = "netcdf4_parallel"
'output.size' = "medium"
'output.sizes.medium' = "sftgif,velsurf_mag,mask,usurf,bmelt"
'output.extra.file' = "none"
'output.extra.times' = "monthly"
'output.extra.vars' = "climatic_mass_balance,thk,velsurf_mag,velbase_mag,ice_mass,mass_fluxes,mask,usurf"
'output.checkpoint.interval' = 24

[energy]

model = "enthalpy"

[energy.options]

none = { 'energy.model' = "none", 'flow_law.isothermal_Glen.ice_softness' = 1.0e-24, 'stress_balance.blatter.flow_law' = "isothermal_glen", 'stress_balance.sia.flow_law' = "isothermal_glen", 'stress_balance.ssa.flow_law' = "isothermal_glen"}
enthalpy = { 'energy.model' = "enthalpy", 'flow_law.isothermal_Glen.ice_softness' = 1.0e-24, 'stress_balance.blatter.flow_law' = "gpbld", 'stress_balance.sia.flow_law' = "gpbld", 'stress_balance.ssa.flow_law' = "gpbld"}

[stress_balance]

'stress_balance.model' = 'blatter'
'stress_balance.blatter.Mz' = 17
'stress_balance.blatter.coarsening_factor' = 4
'stress_balance.blatter.use_eta_transform' = 'yes'
'stress_balance.calving_front_stress_bc' = 'yes'
'stress_balance.sia.surface_gradient_method' = 'eta'
'stress_balance.sia.max_diffusivity' = 100000.0

[stress_balance.options]

blatter = {'stress_balance.model' = "blatter", bp_ksp_monitor =  "", bp_ksp_view_singularvalues = "", bp_snes_monitor_ratio = "", bp_pc_type = "mg", bp_mg_levels_ksp_type = "richardson", bp_mg_levels_pc_type ="sor", bp_mg_coarse_ksp_type = "preonly", bp_mg_coarse_pc_type = "lu", bp_pc_mg_levels = 3, bp_pc_type mg = "", bp_snes_ksp_ew = 1, bp_snes_ksp_ew_version = 3}

hybrid = {'stress_balance.model' = "ssa+sia", 'stress_balance.ssa.method' = "fd"}

[iceflow]

'basal_resistance.pseudo_plastic.q' = 0.75
'basal_resistance.pseudo_plastic.u_threshold' = '100m/yr'
'basal_resistance.pseudo_plastic.enabled' = 'yes'
'basal_yield_stress.mohr_coulomb.till_phi_default' = 30
'basal_yield_stress.model' = 'mohr_coulomb'
'basal_yield_stress.mohr_coulomb.till_effective_fraction_overburden' = 0.025
'stress_balance.blatter.enhancement_factor' = 2.0
'stress_balance.sia.enhancement_factor' = 2.0

['surface']

'surface.models' = 'given'
'surface.given.file' = "none"

['calving']

'calving.methods' = 'float_kill'

['atmosphere']

'atmosphere.models' = "given"
'atmosphere.given.file' = "none"
'atmosphere.elevation_change.temperature_lapse_rate' = 6

['ocean']

'ocean.constant.melt_rate' = 0.0
'ocean.models' = 'constant'
