[run]

executable = "pism"
mpi = "mpirun -np  {{ ntasks }}"
ntasks = 16

[job]

queue = "nine"
walltime = "2:00:00"
nodes = 1

[run_info]

'run_info.institution' = "University of Idaho"
'run_info.title' = "PISM-TERRA Wrangell Mountains"

[campaign]

name = "LGM"
climate = "snap"
dem = "glo_30"
ice_thickness = "millan"
velocity = "none"

[time]

'time.start' = "01-01-01"
'time.end' =  "50-01-01"
'time.calendar' =  "365_day"
'time.reference_date' = "01-01-01"

[time_stepping]

'time_stepping.adaptive_ratio' = 250
'time_stepping.skip.enabled' = "yes"
'time_stepping.skip.max' = 100

['geometry']

'geometry.front_retreat.use_cfl' = 'yes'
'geometry.part_grid.enabled' = 'yes'
'geometry.remove_icebergs' = 'yes'

['input']

'input.bootstrap' = "yes"
'input.forcing.time_extrapolation' = "yes"
'input.forcing.buffer_size' = 13

[reporting]

'output.format' = "netcdf4_parallel"
'output.compression_level'= 2
'output.size' = "medium"
'output.sizes.medium' = "sftgif,velsurf_mag,mask,usurf,bmelt"
'output.extra.file' = "none"
'output.extra.times' = 1
'output.extra.vars' = "effective_air_temp,effective_precipitation,ice_surface_temp,climatic_mass_balance,thk,velsurf_mag,velbase_mag,ice_mass,mass_fluxes,mask,usurf"
'output.checkpoint.interval' = 24
'output.extra.stop_missing' = 'no'

[grid]

resolution = "500m"
grid.Lbz = 0
grid.Lz = 5000
grid.Mbz = 1
grid.Mz = 251
grid.registration = "center"

[energy]

model = "enthalpy"

[energy.options.none]

'energy.model' = "none"
'flow_law.isothermal_Glen.ice_softness' = 1.0e-24
'stress_balance.blatter.flow_law' = "isothermal_glen"
'stress_balance.sia.flow_law' = "isothermal_glen"
'stress_balance.ssa.flow_law' = "isothermal_glen"

[energy.options.enthalpy]

'energy.model' = "enthalpy"
'stress_balance.blatter.flow_law' = "gpbld"
'stress_balance.sia.flow_law' = "gpbld"
'stress_balance.ssa.flow_law' = "gpbld"

[stress_balance]

model = 'blatter'

[stress_balance.options.blatter]

'stress_balance.model' = "blatter"
'stress_balance.blatter.Mz' = 17
'stress_balance.blatter.coarsening_factor' = 4
'stress_balance.blatter.use_eta_transform' = 'yes'
'stress_balance.calving_front_stress_bc' = 'yes'
'stress_balance.blatter.relative_convergence' = 1.0e-3
bp_ksp_monitor =  ""
bp_ksp_view_singularvalues = ""
bp_snes_monitor_ratio = ""
bp_pc_type = "mg"
bp_mg_levels_ksp_type = "richardson"
bp_mg_levels_pc_type ="sor"
bp_mg_coarse_ksp_type = "preonly"
bp_mg_coarse_pc_type = "lu"
bp_pc_mg_levels = 3
bp_snes_ksp_ew = 1
bp_snes_ksp_ew_version = 3
bp_snes_rtol = 1e-3
bp_ksp_rtol = 1e-3

[stress_balance.options.hybrid]

'stress_balance.model' = "ssa+sia"
'stress_balance.ssa.method' = "fd"
'stress_balance.calving_front_stress_bc' = 'yes'
'stress_balance.sia.surface_gradient_method' = 'eta'
'stress_balance.sia.max_diffusivity' = 100000.0
'stress_balance.ssa.fd.relative_convergence' = 1.0e-3

[stress_balance.options.sia]

'stress_balance.model' = "sia"
'stress_balance.ssa.method' = "fd"
'stress_balance.calving_front_stress_bc' = 'yes'
'stress_balance.sia.surface_gradient_method' = 'eta'
'stress_balance.sia.max_diffusivity' = 100000.0

[iceflow]

'basal_resistance.pseudo_plastic.q' = 0.75
'basal_resistance.pseudo_plastic.u_threshold' = '100m/yr'
'basal_resistance.pseudo_plastic.enabled' = 'yes'
'basal_yield_stress.mohr_coulomb.till_phi_default' = 30
'basal_yield_stress.model' = 'mohr_coulomb'
'basal_yield_stress.mohr_coulomb.till_effective_fraction_overburden' = 0.025
'stress_balance.blatter.enhancement_factor' = 2.0
'stress_balance.sia.enhancement_factor' = 2.0

[surface]

model = "pdd"

[surface.options.pdd]

'surface.models' = 'pdd'

[calving]

'calving.methods' = 'float_kill'

[atmosphere]

model = "given"

[atmosphere.options.given]

'atmosphere.models' = "given,delta_T,precip_scaling"
'atmosphere.given.file' = "none"
'atmosphere.given.periodic' = ""
'atmosphere.elevation_change.temperature_lapse_rate' = 6
'atmosphere.delta_T.file' = "none"
'atmosphere.elevation_change.file' = "none"
'atmosphere.frac_P.file' = "none"

[ocean]

'ocean.constant.melt_rate' = 0.0
'ocean.models' = 'constant'
