#!/bin/sh
#SBATCH -A ees240003
#SBATCH --ntasks={{ ntasks }}
#SBATCH --nodes={{ nodes }}
#SBATCH --time={{ walltime }}
#SBATCH -p {{ queue }}
#SBATCH --mail-type=BEGIN
#SBATCH --mail-type=END
#SBATCH --mail-type=FAIL
#SBATCH --output=pism.%j

module list

umask 007

cd $SLURM_SUBMIT_DIR

# Generate a list of compute node hostnames reserved for this job,
# this ./nodes file is necessary for slurm to spawn mpi processes
# across multiple compute nodes
srun -l /bin/hostname | sort -n | awk '{print $2}' > ./nodes_$SLURM_JOBID

ulimit -l unlimited
ulimit -s unlimited
ulimit
