#!/bin/sh
#SBATCH -n {{ ntasks }}
#SBATCH -N {{ nodes }}
#SBATCH --time={{ walltime }}
#SBATCH -p {{ queue }}
#SBATCH --mail-type=BEGIN
#SBATCH --mail-type=END
#SBATCH --mail-type=FAIL
#SBATCH --output=pism.%j

module list

umask 007

cd $SLURM_SUBMIT_DIR

ulimit -l unlimited
ulimit -s unlimited
ulimit
