name: Test

on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - main
      - release

jobs:
  call-pytest-workflow:
    # Docs: https://github.com/ASFHyP3/actions
    uses: ASFHyP3/actions/.github/workflows/reusable-pytest.yml@v0.21.0
    permissions:
      contents: read
    with:
      local_package_name: pism_terra
      python_versions: >-
        ["3.12.6"]
