name: Test

on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - main
      - release

jobs:
  pytest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.12.6"]
    steps:
      - uses: actions/checkout@v5

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.python_version }}

      - name: Pytest in conda environment
        shell: bash -l {0}
        run: |
          python -m pip install --no-deps .
          pytest --cov=pism-terra --skip-integration
